{{- $dest := .Destination -}}
{{- $url := urls.Parse $dest -}}
{{- $isRemote := strings.HasPrefix $dest "http" -}}

{{- if not $isRemote -}}
  {{- if strings.HasPrefix $dest "/" -}}
    {{- with or (.Page.GetPage $url.Path) (.Page.Resources.Get $url.Path) (resources.Get $url.Path) -}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
    {{- end -}}
  {{- else -}}
    {{- if $url.Path -}}
      {{- with .Page.GetPage $url.Path -}}
        {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
        {{- $dest = printf "%s%s" .RelPermalink $fragment -}}
      {{- else -}}
        {{- warnf "%q not found from %q" $url.Path $.Page.Path -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<a href="{{ $dest | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $isRemote }} target="_blank" rel="noopener"{{ end }}>{{ .Text | safeHTML }}</a>